<!DOCTYPE HTML>
<html>
<head>
    <title>Hello</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>

<style>
    body {
          background-color: #fac670;
          margin: 0px;
          border: 0px;
          padding: 22px;
    }

    h1 {
        color: #1b1a19;
        font-family: Arial;
        font-size: 500%;
        font-weight: 700;
        line-height : 60px;
    }

    a {
        color: #1b1a19;
        font-family: Arial;
        font-size: 100%;
        font-weight: 600;
        line-height : 28px;
    }

    div {
        color: #1b1a19;
        font-family: Arial;
        font-size: 190%;
        font-weight: 1000;
        line-height : 60px;
    }

    p {
        color: #1b1a19;
        font-family: Arial;
        font-size: 115%;
        font-weight: 600;
        line-height : 20px;
    }
</style>

<body>
    <div style="line-height: 20px;">chukarin</div>
    <h1>
        The <font color="#f37925">best</font><br>
        web app<br>
        you've<br>
        ever seen.
    </h1>
    <p>
        Go to <a href="/main">main page</a> where you can see <br>
        how does this web app works and <br>
        where magic begins...
    </p>
</body>

</html>