<html>
<head><font size="50" face="didot">My CRUD Web App</font></head>
<body style="background-color:oldlace">
    <title>
        CRUD Web App
    </title>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out" style="background-color:#F76588;border-color:F76588"/>
    </form>
</div>
<div>
    <form method="post" action="add">
        <input type="text" name="name" placeholder="Наименование"/>
        <input type="text" name="categoryId" placeholder="Категория"/>
        <input type="text" name="size" placeholder="Размер"/>
        <input type="text" name="count" placeholder="Кол-во"/>
        <input type="text" name="price" placeholder="Цена"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit" style="background-color:EDED61;border-color:EDED61">Добавить</button>
    </form>
    <form method="post" action="delete">
        <input type="number" name="id" placeholder="id"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit" style="background-color:EDED61;border-color:EDED61">Удалить</button>
    </form>
    <form method="post" action="filter">
        <input type="number" name="from" placeholder="От"/>
        <input type="number" name="to" placeholder="До"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit" style="background-color:EDED61;border-color:EDED61">Найти</button>
    </form>
    <form method="post" action="update">
        <input type="number" name="id" placeholder="id"/>
        <input type="text" name="name" placeholder="Новое наименование"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit" style="background-color:EDED61;border-color:EDED61">Обновить</button>
    </form>
</div>
    <div>
        <table bgcolor="25f4ab">
            <tr bgcolor="b6fbe3">
                <th>id</th>
                <th>name</th>
                <th>category</th>
                <th>amount</th>
                <th>price</th>
                <th>size</th>
            </tr>
            {{#goods}}
            <tr bgcolor="e7fef6">
                <td><span>{{id}}</span></td>
                <td><span>{{name}}</span></td>
                <td><span>{{categoryId}}</span></td>
                <td><span>{{count}}</span></td>
                <td><span>{{price}}</span></td>
                <td><span>{{size}}</span></td>
            </tr>
            {{/goods}}
        </table>
    </div>
</body>
</html>