<html>
<head>
</head>
<style>


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

.left {
  left: 0;
  background-color: #1b1a19;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #1b1a19;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}
</style>
<br>
<body>
    <div class="split left">
        <div style="line-height: 20px; font-family: Arial; font-size: 190%; font-weight: 1000; color: #fac670; padding: 22px;">
            chukarin
        </div>
        <form method="post" action="add">
            <input style="background-color:oldlace;border-color:ffccb3" type="text" name="name" placeholder="Наименование"/>
            <select name="categoryId">
                <option value="1">Outerwear</option>
                <option value="2">Jackets</option>
                <option value="3">Trousers</option>
                <option value="4">Jeans</option>
                <option value="5">Shoes</option>
                <option value="6">Sneakers</option>
                <option value="7">Sweatpants</option>
                <option value="8">Shorts</option>
                <option value="9">Shirts</option>
                <option value="10">Hats</option>
            </select>
            <select name="size">
                <optgroup label="Clothes">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </optgroup>
                <optgroup label="Shoes">
                    <option value="38">38</option>
                    <option value="38">39</option>
                    <option value="38">40</option>
                    <option value="38">41</option>
                </optgroup>
                <optgroup label="Hats">
                    <option value="one_size">One Size</option>
                </optgroup>
            </select>
            <input style="background-color:oldlace;border-color:ffccb3" type="text" name="count" placeholder="Кол-во"/>
            <input style="background-color:oldlace;border-color:ffccb3" type="text" name="price" placeholder="Цена"/>
            <input style="background-color:oldlace;border-color:ffccb3" type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" style="background-color:EDED61;border-color:EDED61">Добавить</button>
        </form>
        <form method="post" action="filter">
            <input style="background-color:oldlace;border-color:ffccb3" type="number" name="from" placeholder="От"/>
            <input style="background-color:oldlace;border-color:ffccb3" type="number" name="to" placeholder="До"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" style="background-color:EDED61;border-color:EDED61">Найти по цене</button>
        </form>
        <form method="post" action="update">
            <input style="background-color:oldlace;border-color:ffccb3" type="number" name="id" placeholder="id"/>
            <input style="background-color:oldlace;border-color:ffccb3" type="text" name="name" placeholder="Новое наименование"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" style="background-color:EDED61;border-color:EDED61">Обновить</button>
        </form>
        <form method="post" action="delete">
            <input style="background-color:oldlace;border-color:ffccb3" type="number" name="id" placeholder="id"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" style="background-color:EDED61;border-color:EDED61">Удалить</button>
        </form>
        {{name}}
    </div>
    <div class="split right">
        <table>
            <tr bgcolor="fac670">
                <th>id</th>
                <th>name</th>
                <th>category</th>
                <th>amount</th>
                <th>price</th>
                <th>size</th>
            </tr>
            {{#goods}}
            <tr bgcolor="ffffff">
                <td><span>{{id}}</span></td>
                <td><span>{{name}}</span></td>
                <td><span>{{categoryId}}</span></td>
                <td><span>{{count}}</span></td>
                <td><span>{{price}}</span></td>
                <td><span>{{size}}</span></td>
            </tr>
            {{/goods}}
        </table>
    </div>
    <span><br></span>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out" style="background-color:#F76588;border-color:F76588"/>
        </form>
    </div>
</body>
</html>